$susy: (
  columns: 4,
  column-width: 300px,
  gutters: 30px/300px,
  gutter-position: inside,
);

body {
  @include container(1200px);
}
header[role="banner"] {
  > div {
    @include span(2);
  }
  nav {
    @include span(2);
  }
}
