// Container

.container {
  @include container(1200px);
}

// Header

header[role="banner"] {
  @include clearfix;
  @include margin-trailer(2);
  @include padding-leader(1.5);
  border-bottom: 1px solid $border-color;
  margin-left: gutter();
  margin-right: gutter();

  h1 {
    font-weight: $bold;
    @include span(3);
    padding-left: 0;
    @include adjust-font-size-to(26px);
    @include margin-trailer(0.5);
    span {
      font-weight: $regular;
      @include adjust-font-size-to(19px);
      color: $text-color;
    }
    a:hover {
      span {
        color: $link-hover-color;
      }
    }
  }
  nav {
    @include adjust-font-size-to(19px);
    a {
      color: $light-text-color;
      &:hover {
        color: $link-hover-color;
      }
    }
  }
  nav.main {
    @include span(1);
  }
  nav.langswitcher {
    @include span(1);
    @include post(1);
  }
  a.active {
    border-bottom: 1px solid $border-color;
  }
}

body.index, body.en_index {
  nav.main ul {
    li:first-child {
      a {
        color: $text-color;
        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }
}
body.information, body.en_information  {
  nav.main ul {
    li:last-child {
      a {
        color: $text-color;
        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }
}


// Project links

.project-list {
  @include break;
}

a.project-link {
  @include gallery(3);
  margin-bottom: gutter(6) * 2;
  background: none;
  line-height: 0;

  article {
    position: relative;
    text-align: center;
  }

  img {
    opacity: 1;
  }

  .project-image-caption {
    @include single-transition(all, .3s, ease-out);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 30%;
    background: $project-link-bgcolor;
    opacity: 0;
    span {
      @include single-transition(all, .3s, ease-out);
      @include adjust-font-size-to(26px);
      color: $link-hover-color;
      border-bottom: 5px solid $link-hover-color;
      padding: 0 10px 3px;
    }
  }

  &:hover {

    img {
      opacity: 0.9;
    }
    .project-image-caption {
      opacity: 1;
    }
  }
}


// About

header.information {
  @include span(full);
}

.information-column-1 {
  @include span(4);
  p:first-child {
    @include adjust-font-size-to(21px);
  }
}

.information-column-2 {
  @include span(2);
}

.vcard {
  margin-bottom: rhythm(2);
  p.tel {
    margin: rhythm(2) 0 0;
  }
}

a.maps {
  @include adjust-font-size-to(16px);
}


// Project

article.project {
  @include break;
  figure {
    line-height: 0;
  }
}

.project-title {
  @include span(full);
}

.project-meta {
  @include span(2);
  a {
    color: $text-color;
    border-bottom: 1px solid $border-color;
    &:hover {
      color: $link-hover-color;
      border: 0;
    }
  }
}

.project-description {
  @include span(4);
  @include padding-trailer;
}

.project-images-full {
  figure {
    @include span(full);
    padding-bottom: gutter() * 2;
  }
}

.project-images-gallery {
  figure {
    @include gallery(2);
    padding-bottom: gutter() * 2;
  }
}

.project-images-portrait-gallery {
  figure {
    padding-bottom: (gutter() * 4);
  }
  .portrait {
    @include span(3);
    figure {
      overflow: hidden;
    }
  }
  .landscape {
    @include span(3);
  }
}

.projects-navigation {
  @include break;
  @include padding-leader(0.5);
  a {
    color: $light-text-color;
    @include adjust-font-size-to(19px);
    strong {
      font-weight: $bold;
      color: $text-color;
    }
    &:hover {
      color: $link-hover-color;
      strong {
        color: $link-hover-color;
      }
    }
  }

  .previous {
    @include span(3);
  }
  .next {
    @include span(3);
    text-align: right;
  }
}

// Footer

footer {
  @include span(full);
  @include break;
  @include margin-leader;
  @include padding-trailer(2);
  div {
    @include clearfix;
    @include padding-leader(0.5);
    border-top: 2px solid $border-color;
  }
  a {
    color: $light-text-color;
    &:hover {
      color: $link-hover-color;
    }
  }

  p {
    color: $light-text-color;
    @include adjust-font-size-to(18px, .9);
  }

  p.copy {
    @include span(3);
    padding-left: 0;
  }
  p.contact {
    @include span(1);
  }
  p.colophon {
    @include span(2);
    text-align: right;
    padding-right: 0;
  }
}
