// Container

.container {
  @include container(1200px);
}


// Header

header[role="banner"] {
  @include clearfix;
  @include padding-leader(1);
  margin: 0 $mobile-gutter;
  @include margin-trailer(0.5);
  border-bottom: 1px solid $border-color;

  @include susy-breakpoint($bp-small) {
    @include full;
    @include margin-trailer(1);
  }
  @include susy-breakpoint($bp-medium) {
    @include margin-trailer(2);
    @include padding-leader(1.5);
  }

  h1 {
    font-weight: $bold;
    @include adjust-font-size-to(26px);
    @include margin-trailer(0.5);
    @include susy-breakpoint($bp-medium) {
      @include span(3 nest);
    }
    span {
      font-weight: $regular;
      @include adjust-font-size-to(19px);
      color: $text-color;
    }
    a:hover {
      span {
        color: $link-hover-color;
      }
    }
  }

  nav {
    @include adjust-font-size-to(19px);
    a {
      color: $light-text-color;
      &:hover {
        color: $link-hover-color;
      }
    }
  }

  nav.main {
    float: left;
    @include susy-breakpoint($bp-medium) {
      @include span(1);
    }
  }

  nav.langswitcher {
    float: left;
    @include susy-breakpoint($bp-medium) {
      @include span(1);
      @include post(1);
    }
  }

  li {
    display: inline-block;
    margin-right: 1em;
    @include margin-trailer(0.5);
    @include susy-breakpoint(50em) {
      display: block;
      margin: 0;
    }
  }
  nav.langswitcher li:last-child {
    margin-right: 0;
  }

  a.active {
    border-bottom: 1px solid $border-color;
  }
}

body.index, body.en_index {
  nav.main {
    li:first-child {
      a {
        color: $text-color;
        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }
}
body.informatie, body.en_information  {
  nav.main {
    li:last-child {
      a {
        color: $text-color;
        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }
}


// Project links

.project-list {
  @include break;
}

a.project-link {
  background: none;
  line-height: 0;

  @include susy-breakpoint($bp-small) {
    @include gallery(3);
    margin-bottom: gutter(6) * 2;
  }

  article {
    position: relative;
    text-align: center;
  }

  img {
    opacity: 1;
  }

  .project-image-caption {
    @include single-transition(all, .3s, ease-out);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 30%;
    background: $project-link-bgcolor;
    opacity: 0;
    span {
      @include single-transition(all, .3s, ease-out);
      @include adjust-font-size-to(26px);
      color: $link-hover-color;
      border-bottom: 5px solid $link-hover-color;
      padding: 0 10px 3px;
    }
  }

  &:hover {
    img {
      opacity: 0.9;
    }
    .project-image-caption {
      opacity: 1;
    }
  }
}


// About

header.information {
  margin: 0 $mobile-gutter;
  @include susy-breakpoint(53em) {
    @include full;
  }
}

.information-column-1 {
  margin: 0 $mobile-gutter;
  @include susy-breakpoint(53em) {
    @include span(4);
  }
  p:first-child {
    @include adjust-font-size-to(21px);
  }
}

.information-column-2 {
  margin: 0 $mobile-gutter;
  @include susy-breakpoint(53em) {
    @include span(2);
  }
}

.vcard {
  margin-bottom: rhythm(1);
  p {
    margin: 0;
  }
}

a.maps {
  @include adjust-font-size-to(16px);
}


// Project

article.project {
  figure {
    line-height: 0;
  }
}

.project-title {
  margin: 0 $mobile-gutter;
  @include susy-breakpoint($bp-small) {
    @include full;
  }

}

.project-meta {
  @include adjust-font-size-to(18px);
  margin: 0 $mobile-gutter rhythm(1) $mobile-gutter;

  @include susy-breakpoint($bp-small $bp-medium) {
    @include full;
  }
  @include susy-breakpoint($bp-medium) {
    @include span(2);
  }

  a {
    color: $text-color;
    border-bottom: 1px solid $border-color;
    &:hover {
      color: $link-hover-color;
      border: 0;
    }
  }
  strong {
    color: $light-text-color;
  }
}

.project-description {
  margin: 0 $mobile-gutter;
  @include susy-breakpoint($bp-small $bp-medium) {
    @include full;
  }
  @include susy-breakpoint($bp-medium) {
    @include span(4);
    @include padding-trailer;
  }
}

.project-images-full {
  @include break;
  figure {
    @include susy-breakpoint($bp-small) {
      @include full;
      padding-bottom: gutter() * 2;
    }
  }
}

.project-images-gallery {
  @include break;
  figure {
    @include susy-breakpoint($bp-small) {
      @include gallery(2);
      padding-bottom: gutter() * 2;
    }
  }
}

.project-images-portrait-gallery {
  @include break;
  @include susy-breakpoint($bp-small) {
    figure {
      padding-bottom: (gutter() * 4);
    }
    .portrait {
      @include span(3);
      figure {
        overflow: hidden;
      }
    }
    .landscape {
      @include span(3);
    }
  }
}

.projects-navigation {
  @include break;
  @include clearfix;
  @include padding-leader(0.5);
  margin: 0 $mobile-gutter rhythm(1) $mobile-gutter;

  @include susy-breakpoint($bp-small) {
    @include full;
    margin-bottom: 0;
  }
  a {
    color: $light-text-color;
    @include adjust-font-size-to(19px);
    strong {
      font-weight: $bold;
      color: $text-color;
    }
    &:hover {
      color: $link-hover-color;
      strong {
        color: $link-hover-color;
      }
    }
  }

  .previous {
    @include span(3 nest);
  }

  .next {
    @include span(3 nest);
    text-align: right;
  }
}


// Footer

footer {
  @include break;
  @include padding-leader(1);
  @include padding-trailer(1);
  border-top: 1px solid $border-color;

  @include susy-breakpoint($bp-small) {
    @include full;
    @include margin-leader;
    @include padding-leader(0.5);
  }

  a {
    color: $light-text-color;
    &:hover {
      color: $link-hover-color;
    }
  }

  ul, p {
    margin: 0 $mobile-gutter;
    color: $light-text-color;
    @include adjust-font-size-to(18px, .9);
    @include margin-trailer(0.5);

    @include susy-breakpoint($bp-small) {
      @include span(3 nest);
      margin: 0;
    }
  }

  @include susy-breakpoint($bp-small) {
    p {
      text-align: right;
    }
  }
}
