$family:           ff-dagny-web-pro, Helvetica Neue, Helvetica, Arial, sans-serif;
$base-font-size:   20px;
$base-line-height: 30px;

$round-to-nearest-half-line: true;
$rhythm-unit:                "rem";

$regular:              400;
$bold:                 700;

$bgcolor:              white; // #a5c6bf;
$text-color:           #111;
$light-text-color:     #777;
$border-color:         #bbb;
$link-color:           #e94b4b;
$link-hover-color:     white;
$link-hover-bgcolor:   $link-color;
$project-link-bgcolor: rgba(233,75,75,.9);
