$family:           'nudista-web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$base-line-height: 30px;

$light:            300;
$regular:          400;
$bold:             600;

$text-color:       #3a494a;
$border-color:     #ccc;

$background-color-about: #495c57;
$background-color-works: #343436;
