---
title: Informatie
---

header.information
  h1 Informatie

article
  .information-column-1
    p
      |
        Ik bouw maatinterieurs en maatkeukens, inbouwkasten en vrijstaand
        meubilair. Ik werk met massief hout, fineer, metaal, steen en plastic:
        elk materiaal heeft een eigen schoonheid en een eigen toepassing. Van
        ieder materiaalsoort is kennis van de sterke en zwakke kanten vereist,
        zowel in visueel als mechanisch opzicht.
    p
      |
        Mijn loopbaan begon in 1988 in San Francisco met het bouwen van huizen
        voor een aannemer. Naarmate mijn kennis groeide, ging ik zelf ontwerpen
        maken voor meubels en verlichting. In 1991 begon ik, vanuit de tuin van
        mijn appartement in de Haigt street, als zelfstandig meubelmaker voor
        winkels en particulieren te werken.
    p
      |
        In 1994, vermoeid door de vele beproevingen van een werkplaats in de
        open lucht, trad ik toe tot de ‘San Francisco Carpenters union local
        22’. Mijn leertijd rondde ik af met het bouwen van het interieur van de
        Eddie Bauer winkel in San Francisco. Daarna heb ik een aantal jaar voor
        een bedrijf dat Design Workshops heette luxe interieurs bij
        investerings- en advocatenkantoren geïnstalleerd. In 2004 kreeg ik de
        kans om in Amsterdam een werkplaats te openen.
    p
      |
        Elk project is anders omdat elke opdrachtgever anders is.
        Aanpassingsvermogen en het begrijpen van verschillende wensen en
        beperkingen zijn belangrijk. Soms verlangt een project dat ik nauwgezet
        een tekening volg, een andere keer dat ik vanaf nul iets bedenk.

  .information-column-2
    .vcard
      p.adr
        span.fullname> Brian Sutter<br>
        span.street> Spaarndammerstraat 32N<br>
        span.postal-code> 1013 SW
        span.region> Amsterdam /
        == link_to 'zoek het op', 'https://www.google.com/maps/place/Spaarndammerstraat+32N,+1013+SW+Amsterdam', class: 'maps'
      p.tel 06 – 15 13 54 52
      p.email == link_to 'brian@briansutter.nl', 'mailto:brian@briansutter.nl'

    p.brian= image_tag('brian1.jpg', data: {mouseover: image_path('brian2.jpg'), mouseout: image_path('brian1.jpg')})
